{{template "base/base.html" .}}

{{define "meta"}} 
<title>任务[{{.task.Name}}]详情</title>
{{end}} 
{{define "head"}} {{end}} 
{{define "body"}}
<div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">任务详情</strong> / <small>查看任务具体信息</small></div>
 </div>


<div class="am-g am-g-fixed">
    <div class="am-u-md-10"> 
<table class="am-table am-table-bordered am-table-compact am-table-hover">
	<tbody>
		 <tr>
		 	<td class="am-primary">名称</td>
		 	<td>{{.task.Name}}</td>
		 </tr>
		 <tr>
		 	<td class="am-primary">创建日期</td>
		 	<td title="{{tolocal .task.CreateTime "2006-01-02 15:04:05"}}"> 
		 	<time class="timeago" datetime="{{tolocal .task.CreateTime "2006-01-02 15:04:05"}}" ></time> </td>
		 </tr>
		 <tr> 
		 	<td class="am-primary">状态</td>
		 	<td>
		 		<strong>{{.task.Status}}</strong> 
			 
		 	</td>
		 </tr>

		 <tr>
		 	<td  class="am-primary"></td>
		 	<td>
		 		  <a href="/task/{{.task.Id}}/start.html"  class="am-btn am-radius am-btn-primary"> 尝试重启</a>
		 		    <a href="/task/{{.task.Id}}/detail.html"  class="am-btn am-radius am-btn-primary"> 刷新状态</a>
		 		   {{if .words}} 
		 		        <a href="/task/{{.task.Id}}/words.html" c class="am-btn am-radius am-btn-primary">查看词汇列表</a>
						   <a href="/report/show.html?taskId={{.task.Id}}"  class="am-btn am-radius am-btn-primary">查看报表统计</a>
		 		   {{end}}
		 	</td>
		 </tr>
	</tbody>
	</table>
		
    </div>
    </div>
    		{{if .words}}
    <div class="am-g">
    		<div class="am-u-md-12">
				 <div class="am-panel am-panel-default">
				  <div class="am-panel-hd">
				    <div class="am-panel-hd am-cf"  >词汇TOP{{len .words}}</div>
				  </div>
				   <div class="am-g am-padding-lg"> 
				  			{{range .words}}
						  	 <div class="am-u-md-3 am-text-left">
						     	<span class=""> <a href="/task/{{$.task.Id}}/word/{{.WordId}}/detail.html">{{.Word.Text}}</a> {{.Fre}}</span>
						  	 </div>
						  	 {{end}}
				  		
				  </div>
		  		</div>

		    </div>		
		    
    </div>
		    {{end}}
 <div class="am-g">
 	<div class="am-u-md-6">
 		 <div class="am-panel am-panel-default">
				  <div class="am-panel-hd">
				    <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-tasklogs'}">任务文件<span class="am-icon-chevron-down am-fr"></span></div>
				  </div>
				 
				<ul id="collapse-panel-tasklogs" class="am-list am-list-static">
		           {{range .taskfiles}}
				     <li> 
				     	 <a href="/task/{{$.task.Id}}/word/0/view.html?fileName={{.Name}}">  {{.Name}}</a> 
				     </li> 
				  {{end}}
				  </ul>
		  </div>

 	</div>
 	<div class="am-u-md-6">
		 <div class="am-panel am-panel-default">
				  <div class="am-panel-hd">
				    <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-tasklogs'}">任务日志<span class="am-icon-chevron-down am-fr"></span></div>
				  </div>
				<ul id="collapse-panel-tasklogs" class="am-list am-list-static">
		           {{range .tasklogs}}
				     <li>
				     	{{tolocal .CreateTime "2006-01-02 15:04:05"}}:{{.Msg}}
				     </li> 
				  {{end}}
				  </ul>
		  </div>

 		
 	</div>
 </div>
{{end}}

{{define "bottom"}}
    <script type="text/javascript">
        $(function()
        {
            jQuery("time.timeago").timeago();
        });
    </script>
{{end}}
