{{template "base/base.html" .}}
{{define "meta"}} 
<title>词汇【{{.word.Text}}】详情</title>
{{end}} 
{{define "head"}} {{end}} 
{{define "body"}}
<div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">词汇详情</strong> / <small><a href="/task/{{.task.Id}}/detail.html"> {{.task.Name}}</a> 词汇【{{.word.Text}}】</small></div>
 </div>

<div class="am-g am-g-fixed">
    <div class="am-u-md-10"> 
<table class="am-table am-table-bordered am-table-compact">
	<tbody>
		 <tr>
		 	<td class="am-primary">任务名称</td>
		 	<td>{{.task.Name}}</td>
		 </tr>
		 <tr>
		 	<td class="am-primary">词汇</td>
		 	<td  > <strong>{{.word.Text}}</strong>  </td>
		 </tr>
		 <tr> 
		 	<td class="am-primary"> 总频次</td>
		 	<td> 
		 		{{.word.SumFre}}
		 	</td>
		 </tr>
		 <tr>
		 	<td  class="am-primary">文件列表</td>
		 	<td>
		 		<ul>{{range $k,$v := .word.SumFreInFiles}}
				
					<li>
				
		 			 <a href="/task/{{$.task.Id}}/word/{{$.word.Id}}/view.html?fileName={{$k}}">  {{$k}}</a> 
		 		 {{$v}}次</li>
		 		{{end}}
		 		</ul>
		 		  <!-- <a href="/task/{{.task.Id}}/word/{{.word.Id}}/detail.html"  class="am-btn am-radius am-btn-primary"> 尝试重启</a> -->
		 		    <!-- <a href="/task/{{.task.Id}}/detail.html"  class="am-btn am-radius am-btn-primary"> 刷新状态</a> -->
		 	</td>
		 </tr>
	</tbody></table>
		
    </div>
    </div>

{{end}}

{{define "bottom"}}
    <script type="text/javascript">
        $(function()
        {
           
        });
    </script>
{{end}}
