<footer>
    <hr>
    <p class="am-padding-left">© 2016 <a href="https://www.yushuangqi.com" target="blank">虞双齐</a>开发<i class="am-icon-qq"></i><span>535252640</span>,<a href="http://wpa.qq.com/msgrd?v=3&uin=535252640&site=qq&menu=yes" target="blank">立即QQ联系</a>，<i class="am-icon-phone"></i><span>13922868102</span></p>
</footer>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/amazeui.js"></script>
<!--<![endif]-->
<script src="/static/js/app.js"></script>
<script src="/static/js/admin.js"></script>
<script src="/static/js/jquery.timeago.js"></script>
<script src="/static/js/jquery.timeago.zh-CN.js"></script>
{{template "bottom" .}}
